.intro-bg-colour {
    background-color: #fff;
}

.intro-title,
.intro-text,
.team-name {
    color: #000 !important;
}

.intro-title {
    padding-bottom: 30px;
}

.blog-title {
    padding-bottom: 60px;
    color: #fff !important;
}

.blog-bg-colour {
    background-color: #000;
    padding-bottom: 100px;
   
}

.blog-title {
    color: #000;
}

.blog-author-name {
    color: #fff;
    padding-top: 30px;
}

.join-us-bg-colour {
    background-color: #fff;
}

.join-us-container, .intro-container {
    padding-top: 70px
}

.join-us-title,
.join-us-text,
.subscribe-title,
.subscribe-text {
    color: #000 !important;
}

/* btn */
.secondary-btn {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    height: 50px;
    line-height: 46px;
    padding: 0 42px;
    border: 2px solid #34A57B;
    color: #fff;
    background: #34A57B;
    z-index: 1;
    font-size: 12px;
  }

  .secondary-btn:hover {
    border: 2px solid #F4B908;
    color: #000;
    background: #F4B908;
  }

  .social-bg-colour {
    background-color: #000;
    padding-bottom: 70px;
  }
